name: RELEASE

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  INIT:
    uses: harik8/sandbox/.github/workflows/rw-ci.yaml@D-051225-3
    with:
      paths_modified: '["hello-docker"]'
      tag_latest: true
    secrets:
      # DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      # DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      inherit: true