name: RELEASE

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  INIT:
    uses: harik8/sandbox/.github/workflows/rw-init.yaml@main