name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  CI:
    uses: harik8/manalpetti/.github/workflows/rw-ci.yaml@D-161225-5
    secrets:
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
